section.search-page {
	min-height: 930px;
	max-width: 1440px;
	margin: 0 auto;
}

.search-page .container-fluid {
	padding-left: 100px;
	padding-right: 100px;
}

.search-page .no-gutter.row {
	margin-left: 0;
	margin-right: 0;
}

.search-page .no-gutter.row div[class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}

.search-page .no-gutter.row div.col-md-9 {
	padding-right: 130px;
}

.search-page .filter {
	height: 75px;
}

.search-page .right-sidebar {
	background-color: #cccccc;
	height: 595px;
}

.search-page .content-body .beer-list .beer {
	padding: 20px;
	border: 1px solid #c6c6c6;
	border-radius: 5px;
}