@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  src: local('Lato-Regular'), url('./client/assets/fonts/Lato2OFL/Lato-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: Lato,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
